---
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import sportplatzPic from '../images/sportplatz.png';
import tennisPic from '../images/tennis.png';
import kartePic from '../images/karte.png';
import badmintonPic from '../images/badminton.svg';
import tennisPic2 from '../images/tennis.svg';
import volleyPic from '../images/volleyball.svg';
import triathlonPic from '../images/triathlon.svg';
import schwimmenPic from '../images/schwimmen.svg';
import leichtathletikPic from '../images/leichtathletik.svg';
import bogenschützenPic from '../images/bogenschützen.svg';
import sportschützenPic from '../images/sportschützen.svg';
import fussballPic from '../images/fussball.svg';
import yoseikanPic from '../images/yoseikan.svg';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <!-- Include global CSS first -->
    <style is:global>
        @import '../styles/global.css'; 
      </style>

    <!-- Then include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   
    <Header></Header>

    <!-- Main Content Area -->

    <div class="flex font-univermag">
        <div class="w-1/2 h-100 bg-primary flex flex-col items-center justify-center text-white relative">
            <div class="absolute left-0 right-0 h-px bg-secondary" style="top: 10%;"></div>
            <!-- Text "Der Verein" -->
            <div class="absolute left-7 text-4xl text-white" style="top: 12%;">Der Verein</div>
            <div class="absolute left-7 text-lg md:text-xl lg:text-3xl mt-4 grid grid-cols-2 gap-x-8" style="bottom: 5%;">
                <div id="count">850+</div>
                <div class="font-oskari-g2 uppercase text-sm flex items-center">
                    <span class="mr-1">Mitglieder</span>
                </div>
                <div>10</div>
                <div class="font-oskari-g2 uppercase text-sm flex items-center">
                    <span class="mr-1">Sektionen</span>
                </div>
                <div>1965</div>
                <div class="font-oskari-g2 uppercase text-sm flex items-center">
                    <span class="mr-1">gegründet</span>
                </div>
            </div>
        </div>
        <div class="w-1/2 h-100 bg-blue-500 flex items-center justify-center">
            <img src={sportplatzPic.src} alt="Sportplatz">
        </div>
    </div>

    <div class="flex font-univermag">
        <div class="w-1/2 h-100 bg-blue-500 flex items-center justify-center">
            <img src={tennisPic.src} alt="Tennisplatz">
        </div>
        <div class="w-1/2 h-100 bg-primary flex flex-col items-center justify-center text-white relative">
            <div class="absolute left-0 right-0 h-px bg-secondary" style="top: 10%;"></div>
            <div class="absolute left-7 text-4xl text-white" style="top: 12%;">Infos</div>
            <div class="absolute left-7 text-lg md:text-xl lg:text-3xl mt-4" style="bottom: 5%;">
                <div class="font-oskari-g2 uppercase text-sm mb-4">
                    <span class="mr-1">Geschichte</span>
                </div>
                <div class="font-oskari-g2 uppercase text-sm mb-4">
                    <span class="mr-1">Vorstand</span>
                </div>
                <div class="font-oskari-g2 uppercase text-sm">
                    <span class="mr-1">Downloads</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex font-univermag">
        <div class="w-1/2 h-100 bg-primary flex flex-col items-center justify-center text-white relative">
            <div class="absolute left-0 right-0 h-px bg-secondary" style="top: 10%;"></div>
            <!-- Text "Sektionen" -->
            <div class="absolute left-7 text-4xl text-white" style="top: 12%;">Sektionen</div>
            <!-- List of links with images -->
            <div class="absolute left-7 text-lg md:text-xl lg:text-3xl" style="top: 18%;">
                <ul class="font-oskari-g2 uppercase text-sm mb-4">
                    <li class="mb-4">
                        <a href="/fussball">
                            <img src={fussballPic.src} alt="Sportplatz" class="inline-block mr-2" style="margin-right: 8px;">
                            Fussball
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={badmintonPic.src} alt="Badminton-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Badminton
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={tennisPic2.src} alt="Tennis-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Tennis
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={sportschützenPic.src} alt="Sportschützen-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Sportschützen
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={triathlonPic.src} alt="Triathlon-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Triathlon
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={yoseikanPic.src} alt="Yoseikan-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Yoseikan Budo
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={bogenschützenPic.src} alt="Bogenschützen" class="inline-block mr-2" style="margin-right: 8px;">
                            Bogenschützen
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={volleyPic.src} alt="Volleyball-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Volleyball
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#">
                            <img src={leichtathletikPic.src} alt="Leichtathletik-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Leichtathletik
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src={schwimmenPic.src} alt="Schwimmen-Icon" class="inline-block mr-2" style="margin-right: 8px;">
                            Schwimmen
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1/2 h-100 bg-blue-500 flex items-center justify-center">
            <a href="#">
                <img src={kartePic.src} alt="Sportplatz" style="max-width: 100%; height: auto;">
            </a>
        </div>
    </div>
    

    
        <div class="container mx-auto py-8">
            <div class="absolute left-0 right-0 h-px bg-primary" ></div>

            <div class="relative font-univermag">
                <div class="absolute left-0 right-0 text-center text-lg font-semibold text-primary" style="top: calc(50% + 1rem);">
                    Kontakt

                </div>
            </div>
        </div>

    
    
        
    
    
    
    
    
    
        
    </div>
      
      <div class="grid place-items-center h-screen content-center">
        <!-- existing content --> 
      </div>
      
    <div class="grid place-items-center h-screen content-center">
        <Button>Tailwind Button in Astro!</Button>
        <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
    </div>

   

</body>
</html>

export default Component()